<form class="form-example">
	<nx-natural-language-form [formGroup]="naturalForm" style="padding: 0">
		<div>
			<span class="text">{{ isSingle() ? 'Ich' : 'Wir' }} werde zur Feier</span>
			<nx-word class="text" size="short" label="attend" style="width: 150px">
				<nx-dropdown formControlName="attend" style="width: 150px">
					<nx-dropdown-item value="{{ true }}">kommen</nx-dropdown-item>
					<nx-dropdown-item value="{{ false }}">leider nicht kommen können</nx-dropdown-item>
				</nx-dropdown>
			</nx-word>
			<span class="text">.</span>

			<!-- SINGLE -->
			<ng-container *ngIf="isSingle() && willAttend">
				<span class="text"> Ich werde</span>
				<nx-word class="text" size="regular" label="plusOne">
					<nx-dropdown formControlName="hasPlusOne">
						<nx-dropdown-item value="false">alleine</nx-dropdown-item>
						<nx-dropdown-item value="true">in Begleitung</nx-dropdown-item>
					</nx-dropdown>
				</nx-word>
				<span class="text"> kommen.</span>

				<ng-container *ngIf="showPlusOnePhrase()">
					<span class="text"> Meine Begleitung heißt</span>
					<nx-word class="text" size="regular" label="plusOne">
						<input class="text" nxInput formControlName="plusOne" />
						<div nxError>This field is required.</div>
					</nx-word>
					<span class="text">.</span>
				</ng-container>
			</ng-container>
			<!-- SINGLE END -->
		</div>
	</nx-natural-language-form>
</form>
