<div [@fadeIn]="false" *ngIf="isStartingAnimation">
	<div class="bubbles">
		<div (click)="enterApp()" style="cursor: pointer; display: flex; justify-content: center; align-items: center; height: 100vh; font-family: 'clicker', Arial, Helvetica, Sans-serif; font-size: 40px">
			<!-- nx grid-->
			<div nxLayout="grid">
				<div nxRow>
					<div nxCol="12">
						<div style="text-align: center">
							<div style="font-size: 40px">Sofia & Dimitrios</div>
						</div>
					</div>
				</div>
				<div nxRow>
					<div nxCol="12">
						<div style="text-align: center">
							<div [@fadeIn]="false" *ngIf="showClickIcon" style="height: 0px"><br /><br /><br /><img src="assets/images/click.svg" alt="click here" height="200px" /></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
	</div>
</div>
<div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
</div>
<div *ngIf="showContent && !isLoading" [@fadeIn]="false">
	<div nxLayout="grid">
		<div nxRow>
			<div nxCol="6" colOffset="0" style="cursor: pointer" (click)="toggleLoadingAnimation()">{{ showLoadingAnimation ? ('loadingAnimation.hide' | translate) : ('loadingAnimation.show' | translate) }}</div>
			<div nxCol="3" colOffset="0" style="cursor: pointer" (click)="toggleAudio()">{{ isAudioPlaying ? '🔇' : '🔊' }}</div>
			<div nxCol="2" colOffset="1">
				<app-language-switcher [guests]="getGuests()"></app-language-switcher>
			</div>
		</div>
	</div>
	<nx-small-stage class="stage">
		<h1 nxHeadline="section" style="font-family: 'clicker'">{{ 'title.sofiaAndDimi' | translate }}</h1>
		<h1 nxHeadline="section" style="font-family: 'clicker'">{{ 'title.date' | translate }}</h1>
		<h1 nxHeadline="section" style="font-family: 'clicker'">{{ 'title.text' | translate }}</h1>
	</nx-small-stage>
	<div class="greetings" nxLayout="grid">
		<div nxRow>
			<div nxCol="12">
				<app-greeting [guests]="getGuests()"></app-greeting>
			</div>
		</div>
		<div nxRow>
			<div nxCol="12">
				<app-natural-form [guests]="getGuests()"></app-natural-form>
			</div>
		</div>

		<br />

		<div nxRow>
			<div nxCol="12">
				<nx-icon class="color-primary" name="info-circle"></nx-icon>&nbsp;<a class="color-primary" nxPlainButton (click)="openModal(ModalType.BEST_MAN_MAID_OF_HONOR)">{{ 'trauzeugen.linkText' | translate }}</a>
			</div>
			<div nxCol="12">
				<nx-icon class="color-primary" name="info-circle"></nx-icon>&nbsp;<a class="color-primary" nxPlainButton (click)="openModal(ModalType.HOTEL)">{{ 'hotel.linkText' | translate }}</a>
			</div>
			<div nxCol="12">
				<nx-icon class="color-primary" name="info-circle"></nx-icon>&nbsp;<a class="color-primary" nxPlainButton (click)="openModal(ModalType.CHILDREN)">{{ 'kinder.linkText' | translate }}</a>
			</div>
			<div nxCol="12">
				<nx-icon class="color-primary" name="info-circle"></nx-icon>&nbsp;<a class="color-primary" nxPlainButton (click)="openModal(ModalType.PRESENTS)">{{ 'presents.linkText' | translate }}</a>
			</div>
			<div nxCol="12" *ngIf="getGuests().innerCircle"><nx-icon class="color-primary" name="info-circle"></nx-icon>&nbsp;<a class="color-primary" nxPlainButton (click)="openModal(ModalType.SCHEDULE)">Ablaufplan</a></div>
		</div>
	</div>
</div>

<div *ngIf="!showContent && !isLoading && !codeSucessfullyEntered" class="container">
	<div nxLayout="grid">
		<div nxRow>
			<div nxCol="12">
				<div style="text-align: center">
					<div><p nxCopytext>Code?</p></div>
				</div>
			</div>
		</div>
		<div nxRow>
			<div nxCol="12">
				<div style="text-align: center">
					<form #form="ngForm" [formGroup]="codeForm">
						<nx-code-input #codeInput formControlName="keyCode"></nx-code-input>

						<div *ngIf="codeInput.errorState">
							<nx-error *ngIf="keyCode?.hasError('required')" class="nx-margin-y-xs"> Entry is required. </nx-error>
							<nx-error *ngIf="keyCode?.hasError('minlength')" class="nx-margin-y-xs"> Entry is too short. </nx-error>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #CHILDREN>
	<div nxModalContent>
		<h3 nxHeadline="subsection-medium" class="nx-margin-bottom-3m">{{ 'kinder.title' | translate }}</h3>
		<p nxCopytext="large" class="nx-margin-bottom-m" [innerHTML]="'kinder.text' | translate"></p>
	</div>
</ng-template>

<ng-template #HOTEL>
	<div nxModalContent>
		<h3 nxHeadline="subsection-medium" class="nx-margin-bottom-3m">{{ 'hotel.linkText' | translate }}</h3>

		<p nxCopytext="large" class="nx-margin-bottom-s nx-font-weight-bold">{{ 'hotel.intro' | translate }}</p>
		<p nxCopytext="large" class="nx-margin-bottom-s">
			{{ 'hotel.intro2' | translate }}
			<nx-link>
				<a href="mailto:{{ 'hotel.email' | translate }}">{{ 'hotel.email' | translate }}</a>
			</nx-link>
		</p>
		<p nxCopytext="large" class="nx-margin-bottom-m" [innerHTML]="'hotel.intro3' | translate"></p>
	</div>
</ng-template>

<ng-template #BEST_MAN_MAID_OF_HONOR>
	<div nxModalContent>
		<h3 nxHeadline="subsection-medium" class="nx-margin-bottom-3m">{{ 'trauzeugen.title' | translate }}</h3>

		<nx-card highlight style="min-width: 100%; text-align: center">
			<nx-card-header>
				<h3 nxHeadline="subsection-small" class="nx-margin-bottom-2m">{{ privateData.maidOfHonor.name }}</h3>
			</nx-card-header>
			<p nxHeadline="subsection-xsmall" class="nx-margin-bottom-m">
				<nx-link>
					<a href="tel:{{ privateData.maidOfHonor.phone }}">{{ privateData.maidOfHonor.phone }}</a>
				</nx-link>
			</p>
			<p nxHeadline="subsection-xsmall" class="nx-margin-bottom-m">
				<nx-link>
					<a href="mailto:{{ privateData.maidOfHonor.email }}">{{ privateData.maidOfHonor.email }}</a>
				</nx-link>
			</p>
		</nx-card>
		<br />
		<br />
		<nx-card highlight style="min-width: 100%; text-align: center">
			<nx-card-header>
				<h3 nxHeadline="subsection-small" class="nx-margin-bottom-2m">{{ privateData.bestMan.name }}</h3>
			</nx-card-header>
			<p nxHeadline="subsection-xsmall" class="nx-margin-bottom-m">
				<nx-link>
					<a href="tel:{{ privateData.bestMan.phone }}">{{ privateData.bestMan.phone }}</a>
				</nx-link>
			</p>
			<p nxHeadline="subsection-xsmall" class="nx-margin-bottom-m">
				<nx-link>
					<a href="mailto:{{ privateData.bestMan.email }}">{{ privateData.bestMan.email }}</a>
				</nx-link>
			</p>
		</nx-card>
	</div>
</ng-template>

<ng-template #PRESENTS>
	<div nxModalContent>
		<h3 nxHeadline="subsection-medium" class="nx-margin-bottom-3m">{{ 'presents.linkText' | translate }}</h3>

		<p nxCopytext="large" class="nx-margin-bottom-s nx-font-weight-bold">{{ 'presents.title' | translate }}</p>
		<p nxCopytext="large" class="nx-margin-bottom-s">{{ 'presents.text' | translate }}</p>
		<div nxHeadline="subsection-xsmall">
			<nx-link>
				<a target="_blank" href="{{ privateData.paypal }}">{{ 'presents.paypal.name' | translate }} ({{ privateData.mail }})</a>
			</nx-link>
		</div>
		<div class="nx-margin-bottom-m">
			<br />
			<h3 nxHeadline="subsection-small">{{ 'presents.bank.name' | translate }}:</h3>
			<ul>
				<li>
					<span nxCopytext="large">Name: {{ privateData.name }}</span>
				</li>
				<li>
					<span nxCopytext="large">IBAN: {{ privateData.iban }}</span>
				</li>
				<li>
					<span nxCopytext="large">BIC: {{ privateData.bic }}</span>
				</li>
			</ul>
		</div>
	</div>
</ng-template>

<ng-template #SCHEDULE>
	<div nxModalContent>
		<div class="scroll-container">
			<table nxTable condensed>
				<thead>
					<tr nxTableRow>
						<th nxHeaderCell>Zeit</th>
						<th nxHeaderCell>Aktion</th>
						<th nxHeaderCell>Beteiligte</th>
					</tr>
				</thead>
				<tbody>
					<tr nxTableRow>
						<td nxTableCell>
							10:00<br />
							12:00
						</td>
						<td nxTableCell>Getting Ready</td>
						<td nxTableCell>
							<ul>
								<li>Dimi daheim</li>
								<li>Sofia bei Kalina</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							12:00<br />
							12:30
						</td>
						<td nxTableCell>Fahrt zum Standesamt</td>
						<td nxTableCell>
							<ul>
								<li>Dimi daheim</li>
								<li>Sofia bei Kalina</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							13:00<br />
							14:00
						</td>
						<td nxTableCell>Trauung</td>
						<td nxTableCell>
							<ul>
								<li>Brautpaar</li>
								<li>Trauzeugen</li>
								<li>Familie und Freunde</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							14:00<br />
							14:30
						</td>
						<td nxTableCell>Draussen bissle chillen</td>
						<td nxTableCell>
							<ul>
								<li>Brautpaar</li>
								<li>Trauzeugen</li>
								<li>Familie und Freunde</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							14:30<br />
							14:45
						</td>
						<td nxTableCell>Zur Fotolocation fahren</td>
						<td nxTableCell>
							<ul>
								<li>Brautpaar</li>
								<li>Fotografin</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							14:45<br />
							15:30
						</td>
						<td nxTableCell>Fotos machen</td>
						<td nxTableCell>
							<ul>
								<li>Brautpaar</li>
								<li>Fotografin</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							14:30<br />
							15:30
						</td>
						<td nxTableCell>Location vorbereiten</td>
						<td nxTableCell>
							<ul>
								<li>Trauzeugen</li>
								<li>Familie und Freunde</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							14:30<br />
							15:30
						</td>
						<td nxTableCell>Fotos machen</td>
						<td nxTableCell>
							<ul>
								<li>Brautpaar</li>
								<li>Fotografin</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							14:30<br />
							15:30
						</td>
						<td nxTableCell>Fotos machen</td>
						<td nxTableCell>
							<ul>
								<li>Brautpaar</li>
								<li>Fotografin</li>
							</ul>
						</td>
					</tr>

					<tr nxTableRow>
						<td nxTableCell>
							14:30<br />
							15:30
						</td>
						<td nxTableCell>Fotos machen</td>
						<td nxTableCell>
							<ul>
								<li>Brautpaar</li>
								<li>Fotografin</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</ng-template>
