@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

nx-icon {
	color: var(--interactive-primary, #27abd6);
	vertical-align: middle;
	cursor: pointer;
}

nx-icon:hover {
	color: var(--hover-primary, #3bb4db);
}

nx-icon.cdk-mouse-focused {
	outline: none;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.container div {
	width: 100px;
	height: 100px;
}
