<div class="starter-app">
	<div nxLayout="grid">
		<div nxRow>
			<div nxCol="2" colOffset="10">
				<app-language-switcher></app-language-switcher>
			</div>
		</div>
	</div>
	<nx-small-stage>
		<h1 nxHeadline="section">
			{{ 'hochzeit' | translate }}
		</h1>
	</nx-small-stage>
	<div nxLayout="grid">
		<div nxRow>
			<div nxCol="12">
				<app-greeting [guests]="getGuests()"></app-greeting>
			</div>
		</div>
		<div nxRow>
			<div nxCol="12">
				<app-natural-form [guests]="getGuests()"></app-natural-form>
			</div>
			<a nxPlainButton (click)="openConsentDialog()">Alternative fuer Kinder</a>
		</div>
	</div>

	<footer nx-footer>
		<nx-footer-copyright> &copy; 😼 </nx-footer-copyright>
	</footer>

	<ng-template #childrenAlternative>
		<div nxModalContent>
			<h3 nxHeadline="subsection-medium" class="nx-margin-bottom-3m">Wieso keine Kinder?</h3>

			<p nxCopytext class="nx-margin-bottom-s nx-font-weight-bold">Weil ding</p>
			<p nxCopytext class="nx-margin-bottom-m">
				Some copy text that describes what this overlay is all about. Tdiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing et
				justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing Some copy text that describes what this overlay is all about. Tdiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
				duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing et justo duo dolores et ea rebum.
			</p>
		</div>
	</ng-template>
</div>
