/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

.nx-dropdown__panel {
	min-width: 20px;
}

body:after {
	content: '';
	background-image: url('/assets/images/sofia_and_dimi.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
